img {
  width: 100%;
  height: auto;
}

div.myself {
    background-image: url(images/bgrimg.jpg), url();
    background-repeat: no-repeat;
    background-size: 100% 100%;

    color: white;
    background-attachment: fixed;
}

